<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view title="{{'APP_NAME' | translate}}">
    <ion-nav-buttons side="left">
        <a class="button icon icon-left ion-chevron-left button-clear" href="#/offers"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="container myService">
            <div class="contentHeader">
                <app-logo></app-logo>
                <div class="titleBlock">
                    <div class="title" translate="OFFERS"></div>
                    <div class="subtitle" translate="SPONSOR_OFFERS"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <h3><span translate='ADAMS'></span> <span class='highlight' translate='PICKS_HEADER'></span></h3>
            <div class="infoBlock text-center text-only" ng-repeat="sponsor in sponsors">
                <a ng-click="gotoSponsorLink('{{sponsor.linkUri}}')">
                    <img class="mw100" ng-src="{{sponsor.imageSrc}}" on-error="{{serverUri}}/sponsor_offer_images/no-image.png" alt="{{sponsor.title}}">
                    <span>{{sponsor.title}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
<footer active-item="offers"></footer>