<ion-footer-bar align-title="left" class="bar-assertive">
    <div class="list linksFooter">
        <a nav-direction="back" class="{{itemMaintenance}}" href="#/my-maintenance">
            <i class="iconFooter myMaintenance"></i>
            <span translate="MY_SCHEDULE"></span>
        </a>
        <a nav-direction="forward" class="{{itemService}}" href="#/my-service">
            <i class="iconFooter myService"></i>
            <span translate="MY_SERVICE"></span>
        </a>
        <a nav-direction="back" class="{{itemStorelocator}}" href="#/store-locator/select-zip">
            <i class="iconFooter storeLocator"></i>
            <span translate="STORE_LOCATOR"></span>
        </a>
        <a nav-direction="forward" class="{{itemOffers}}" href="#/offers">
            <i class="iconFooter offers"></i>
            <span translate="FOOTER_OFFERS"></span>
        </a>
    </div>
</ion-footer-bar>