<div class="list linksFooter">
    <a class="" href="#/my-maintenance">
        <i class="icon ion-android-checkbox-outline"></i>
        My Schedule
    </a>
    <a class="" href="#/my-service">
        <i class="icon ion-model-s"></i>
        My Service
    </a>
    <a class="active" href="#/store-locator/select-zip">
        <i class="icon ion-android-pin"></i>
        Store Locator
    </a>
    <a class="" href="#/offers">
        <i class="icon ion-ios-pricetags-outline"></i>
        Offers
    </a>
</div>