<ion-view title="{{'APP_NAME' | translate}}">
    <ion-nav-buttons side="left">
        <a class="button icon icon-left ion-chevron-left button-clear" href="#/my-service/edit-vehicle/{{mCarInfo.id}}"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="container myService">
            <div class="contentHeader">
                <app-logo></app-logo>
                <div class="titleBlock">
                    <div class="title" translate="MY_SERVICE"></div>
                    <div class="subtitle" translate="MY_SERVICE_REMINDERS_AND_HISTORY"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="inputBlock mt5r" >
                <a href="#/my-service/list-reminders/{{mCarInfo.id}}">
                    <label><span translate="MY_SERVICE_REMINDERS"></span></label>
                    <div class="input">
                        <span class="dotted"><span>(+)</span></span>
                    </div>
                </a>
            </div>
            <div class="inputBlock mt2r" >
                <a href="#/my-service/list-history/{{mCarInfo.id}}">
                    <label><span translate="MY_SERVICE_HISTORY"></span></label>
                    <div class="input">
                        <span class="dotted"><span>(+)</span></span>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
<footer active-item="myservice"></footer>