<ion-view title="{{'APP_NAME' | translate}}">
    <ion-nav-buttons side="left">
        <a class="button icon icon-left ion-chevron-left button-clear" href="#/users/login"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="container userAuthentication">
            <div class="contentHeader">
                <app-logo></app-logo>
                <div class="titleBlock">
                    <img class="logoText" src="img/logo_text.svg" />
                    <div class="subtitle" translate="SMART"></div>
                    <div class="title" translate="CAR_CARE"></div>                    
                </div>
                <div class="clearfix"></div>
            </div>
            <h3><span translate='RECOVERY_ACCOUNT'></span></h3>
            <form action="" name="recoveryForm" novalidate>
                <div class="inputBlock">
                    <div class="input">
                        <input type="email" placeholder="> {{'RECOVERY_EMAIL' | translate}}"  ng-model="email" required />
                        <span class="dotted"></span>
                    </div>
                    <small class="input-error" ng-class="{'active' : recoveryForm.recovery_password.$dirty && recoveryForm.recovery_password.$invalid}" translate="VALIDATION_ONLY_LETTERS" ></small>
                </div>
                <p>
                    <button ng-disabled="recoveryForm.$invalid" type='button' ng-click="recoveryPassword(email)" class="button button-full button-assertive " translate="RECOVERY"></button>
                </p> 
            </form>
        </div>
    </ion-content>
</ion-view>
<footer active-item="myservice"></footer>